.product {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px lightgrey;
  
  }
  
  .product img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    margin:0 20px;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
  }
  
  .product-item h2 {
    color: rgb(58, 61, 66);
    font-size: 16px;
  }
  
  .product-item p {
    color: rgb(166, 170, 173);
    font-size: 13px;
  }
  .product-item span {
    color: rgb(58, 61, 66);
    font-size: 14px;
    font-weight: 700;
  }
  .product-item .money {
    color: rgb(83, 86, 92);
    font-size: 14px;
    font-weight: 400;
  }
  .remove-btn {
    cursor: pointer;
    margin:0 20px;
    color: #ff38ac;
    font-size: 18px;
    
  }
  .product-item button:hover {
    color: #fff;
    background-color: #ff38ac;
  }
  .item-amount {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
  }
  

  